<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.springbootlearn.mapper.DictMapper">

    <resultMap id="BaseResultMap" type="com.zy.springbootlearn.entity.Dict">
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    </sql>
</mapper>
