<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.springbootlearn.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.zy.springbootlearn.entity.Role">
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleDescription" column="role_description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

    </sql>
    <select id="selectByRoleKey" resultType="java.lang.Integer">
        select role_id from t_role where role_key = #{roleKey}
    </select>
</mapper>
